/* google font import here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* tailwind dependencies support here */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind style compomnents are here */
@layer components {
  /* common css here */
  .page_main_wrapper {
    @apply font-poppins text-light;
  }

  .container_wrapper {
    @apply w-per_9 mx-auto px-1.5;
  }

  /* header css here */
  .topbar_wrapper {
    @apply bg-black py-1 text-white text-thin;
  }

  .grid_layout {
    @apply grid;
  }

  .layout_two {
    @apply grid-rows-1 grid-cols-2;
  }

  .account_area {
    @apply flex justify-end items-center;
  }

  .brand_area_wrapper {
    @apply bg-gradient-to-r from-deep_cyan to-green py-2 flex items-center;
  }
  .brand_area {
    @apply flex justify-between items-center;
  }

  .brand_wrapper {
    @apply w-1/4;
  }

  .serach_area {
    @apply w-2/4 flex items-center;
  }

  .search_field {
    @apply w-4/5 p-1 shadow-lg italic outline-none rounded-tl-sm rounded-bl-sm;
  }

  .cart_area {
    @apply w-1/4;
  }

  .cart_badge {
    @apply w-13 h-13 rounded-full bg-white relative flex items-center justify-center text-normal mr-6 text-black;
  }

  .cart_counter {
    @apply absolute top-3 left-12 text-thin bg-red-600 px-extra_padding rounded-full flex items-center text-white;
  }

  .navigation_wrapper {
    @apply border-b-zinc-600 py-1.5;
  }

  .navbars {
    @apply flex items-center justify-center;
  }

  .category_slider_wrapper {
    @apply py-3;
  }

  .category_card_wrapper {
    @apply text-center cursor-pointer;
  }

  .catImg {
    @apply bg-white shadow-sm p-1.5 rounded-full m-5 hover:scale-105 hover:duration-300;
  }

  .cat_name {
    @apply text-thin text-black2 font-semibold tracking-wider;
  }

  .cat_items_qty {
    @apply text-thin text-black3;
  }

  .sale_products_wrapper {
    @apply pt-4;
  }

  .section_title_wrapper {
    @apply flex justify-between items-center;
  }

  .section_title {
    @apply font-medium capitalize text-normal;
  }

  .section_title span.sale_percentage {
    @apply !font-light capitalize text-thin py-extra_padding1 px-extra_padding rounded-sm bg-blue-500 text-white ml-2;
  }

  .prodcuts_area {
    @apply grid pt-2 sm:grid-cols-2 sm:gap-10 md:grid-cols-3 md:gap-12 xl:grid-cols-4 xl:gap-12;
  }

  #product_card {
    @apply bg-white mx-1 shadow-md my-5 rounded-sm p-2 relative text-center;
  }

  #stock_slae_badge {
    @apply flex justify-between items-center;
  }

  #sale_badge {
    @apply bg-light_green py-extra_padding1 px-1.1 text-thin rounded-sm text-green border-green;
  }

  #product_thumbnail {
    @apply cursor-pointer;
  }

  #product_title {
    @apply text-sm my-1 cursor-pointer font-bold text-info_color tracking-wide;
  }

  #stock_status {
    @apply flex justify-center items-center text-green mb-7 text-thin;
  }

  #stronger {
    @apply text-thin text-black3 capitalize;
  }

  #product_price {
    @apply my-3;
  }

  #regular_price {
    @apply text-thin line-through text-black3 mr-2;
  }

  #sale_price {
    @apply text-black text-sm font-semibold;
  }

  #add_to_cart_area {
    @apply w-3/4 mx-auto bg-light_red rounded-full p-1 h-15 flex justify-between items-center;
  }

  .middle_banner_wrapper {
    @apply mt-15 mb-5 flex justify-between items-center bg-page_white;
  }

  /* breadcrumb css here  */
  .breadcrumb_wrapper {
    @apply py-1.5 bg-white mb-5 text-black3 text-thin;
  }

  .home_nav {
    @apply font-bold text-black3 cursor-pointer;
  }

  .single_product_view {
    @apply grid sm:grid-cols-2 gap-10;
  }

  .image_wrapper {
    @apply shadow-lg rounded-xl;
  }

  .product_details_wrapper {
    @apply p-3 bg-white shadow-lg rounded-xl;
  }

  .product_title {
    @apply text-medium my-5;
  }

  #add_to_cart_action {
    @apply w-24 flex justify-between items-center mr-3;
  }

  .feature_card_wrapper {
    @apply my-8;
  }

  .our_features {
    @apply flex justify-between items-center mt-8;
  }

  .feature_card {
    @apply flex justify-between items-center;
  }
  .card_icon {
    @apply p-2 bg-deep_green text-semi_medium text-white rounded-full mr-5;
  }

  .cart_table {
    @apply shadow-lg py-2;
  }

  .table_full {
    @apply w-full text-center;
  }

  .table_head {
    @apply py-1.5 font-semibold text-black3 grid grid-cols-6 border border-y-slate-200 border-x-white;
  }

  .table_body {
    @apply py-2 grid grid-cols-6 text-black3;
  }

  .table_body_item {
    @apply flex items-center justify-center h-20;
  }

  .grid_shop_area {
    @apply flex justify-between items-center;
  }

  .sidebar_area {
    @apply p-1 bg-white border border-slate-200 w-1/5;
  }

  .shop_area {
    @apply w-3/4 text-center;
  }
  /* all btn css here */
  .btn {
    @apply bg-gradient-to-r from-orangee to-orangee_red;
  }

  .btn-transparent {
    @apply mx-2 bg-transparent w-auto;
  }

  .btn-search {
    @apply h-init w-5 text-white rounded-tr-sm rounded-br-sm tracking-widest;
  }
  #cart_btn {
    @apply bg-gradient-to-r from-orangee to-orangee_red flex justify-center items-center mx-auto mt-4 text-white px-1.1 py-extra_padding3 rounded-full text-thin;
  }
  #qty_controller {
    @apply w-12 h-12 rounded-full bg-white text-black3 flex justify-center items-center hover:bg-gradient-to-r from-orangee to-orangee_red hover:text-white;
  }
  #view_btn {
    @apply text-deep_cyan !capitalize hover:text-black2 hover:duration-300;
  }
}

@layer utilities {
  button.view_btn {
    color: #0cc5b7;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
  }

  button.view_btn:hover {
    color: #333;
    transition: 0.3s;
  }
}

@layer utilities {
  #stock_status_green {
    border: 1px solid #4eda92;
    border-radius: 2px;
    display: inline-block;
    font-size: 9px;
    height: 22px;
    line-height: 19px;
    text-align: center;
    width: 22px;
    color: black3;
  }

  #stock_status_green::before {
    content: "🟢";
  }

  #stock_status_red {
    border: 1px solid red;
    border-radius: 2px;
    display: inline-block;
    font-size: 9px;
    height: 22px;
    line-height: 19px;
    text-align: center;
    width: 22px;
  }

  #stock_status_red::before {
    content: "🔴";
  }
}
